.tormenta20 .tabbed .sheet-header {
  margin-bottom: 0;
}

.tormenta20 .tabbed .sheet-tabs.tabs  {
  margin-top: -2px;
  margin-bottom: -1px;
}

.tormenta20 .tabbed ul.skills-list {
  margin-left: -2px;
}

.tormenta20 .tabbed header.sheet-header input {
  border: 1px solid transparent;
  background: none;
}

.tormenta20 .tabbed .item-list {
  margin: 0;
}

.tormenta20 .tabbed ol {
  background: none;
}

.tormenta20 .tabbed .tab.inventory .item-list .item-name {
  flex: 2;
}

.tormenta20 .tabbed input[type="number"]
.tormenta20 .tabbed input[type="text"],
.tormenta20 .tabbed select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.tormenta20 .tabbed input[type="number"]:hover,
.tormenta20 .tabbed input[type="number"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.tormenta20 .tabbed input:disabled:hover {
  border: 0;
  box-shadow: none;
}
.tormenta20 .tabbed .form-group label {
  flex: 2;
  font-weight: bold;
}
.tormenta20 .tabbed span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.tormenta20 .tabbed .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.tormenta20 .tabbed .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.tormenta20 .tabbed .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
}
.tormenta20 .tabbed .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.tormenta20 .tabbed .sheet-header .summary input,
.tormenta20 .tabbed .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.tormenta20 .tabbed .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.tormenta20 .tabbed .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.tormenta20 .tabbed .attributes input.temphealth {
  width: 48%;
  height: 18px;
}
.tormenta20 .tabbed h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 3px 2px;
  font-size: 18px;
  border-bottom: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .tab.attributes {
  overflow: hidden;
}
.tormenta20 .tabbed ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tormenta20 .tabbed ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #eeede0;
  border-radius: 4px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  text-align: center;
}
.tormenta20 .tabbed ul.attributes li.attribute:last-child {
  margin: 0;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-value > * {
  font-size: 24px;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.tormenta20 .tabbed ul.attributes li.attribute .attribute-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 12px;
}
.tormenta20 .tabbed .ability-scores {
  flex: 0 0 85px;
  height: 460px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px groove #eeede0;
  border-radius: 3px;
  text-transform: uppercase;
}
.tormenta20 .tabbed .ability-scores .ability:not(:last-child) {
  border-right: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .ability-scores .ability {
  height: 50px;
  text-align: center;
  border-bottom: 2px groove #eeede0;
}
.tormenta20 .tabbed .ability-scores .ability:last-child {
  border-bottom: none;
  margin-bottom: -1px;
}
.tormenta20 .tabbed ul.skills-list li.skill {
  height: 21.5px;
  padding: 3px 2px;
}
.tormenta20 .tabbed ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.tormenta20 .tabbed .center-pane {
  /* height: 100%; */
  height: auto;
  padding: 0 5px 0 3px;
  /* overflow-y: auto; */
  /* scrollbar-width: thin; */
}
.tormenta20 .tabbed .tab.features,
.tormenta20 .tabbed .tab.inventory,
.tormenta20 .tabbed .tab.arsenal {
  overflow-y: hidden;
}
.tormenta20 .tabbed .tab .item {
  /* line-height: 30px; */
  padding: 0 0 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.tormenta20 .tabbed .tab .item.tag {
  padding: 0 3px;
  border-bottom: 1px solid #999;
}
.tormenta20 .tabbed .tab.inventory .item:last-child {
  border-bottom: none;
}
.tormenta20 .tabbed .tab.inventory .item .item-name {
  flex: 2;
  /* cursor: pointer; */
  /* max-height: 30px; */
  /* overflow: hidden; */
}
.tormenta20 .tabbed .tab.inventory .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.tormenta20 .tabbed .editor {
  padding: 0 8px;
}