<div class="feat-browser browser flexrow">
    <div class="control-area">
        <div class="filtercontainer" id="tagfilter">            
            <div class="filter"  data-type="text" data-path="name">
                <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="Nome" />
            </div>
            <!-- <dl id="sorter">
                <dt>"Classificar por":</dt>
                <dd><select class="null" name="sortorder">
                    <option value="true" selected>Nome</option>
                    <option value="false">Class</option>
                </select></dd>
            </dl>  -->
            <button id="reset-feat-filter">Resetar Filtros</button>
        </div>
        {{> "systems/tormenta20/templates/compendium-browser/filter-container.html" filters=featFilters}}
    </div>
    <ul>
        <li class="item flexrow item-header">
            <div style="font-weight: 900;">Nome</div>
            <div class="feat-tags" style="font-weight: 900;">Tipo</div>
        </li>
        {{#each feats as |feat id|}}
        <li class="feat flexrow draggable" data-entry-compendium="{{feat.compendium}}" data-entry-id="{{feat._id}}">
            <div class="item-image" style="min-width: 32px;">
                <img class="" data-src="{{feat.img}}" title="{{feat.name}}" width="32" height="32"/>
            </div>  
            <div class="item-name">
                <span class="item-edit"><a>{{feat.name}}</a></span>
            </div>
            <div class="feat-tags">
                <span title="Tipo">{{feat.data.tipo}}{{#if feat.data.subtipo}}: {{feat.data.subtipo}}{{/if}}</span>
			</div>
            <div class="filter-tags">
                <input type="hidden" name="tipo" value="{{feat.data.tipo}}">
                <input type="hidden" name="subtipo" value="{{feat.data.subtipo}}">
            </div>
        </li>
        {{/each}}
    </ul>

</div>