<div class="inventario">
	{{#if actor.armas}}
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-image"></div>
			<div class="item-name" >Armas</div>
			{{#if (eq layout "tabbed")}}<div class="itam-rolls flex2">Ataque (Dano, Crítico)</div>{{/if}}
			<div class="item-qtd">Qtd</div>
			<div class="item-peso">Peso</div>
			<div class="item-controls"></div>
		</li>
		{{#each actor.armas as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<span class="rollable arma-rollable item-name">
				<h4 class="item-name" >{{item.name}}</h4>
			</span>
			{{#if (eq ../layout "tabbed")}}<div class="itam-rolls flex2">{{numberFormat item.data.atq sign=true}} {{#if item.data.dmg}}({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}}){{/if}}</div>{{/if}}
			<div class="item-qtd">{{item.data.qtd}}</div>
			<div class="item-peso">{{item.peso}}</div>
			<div class="item-controls">
				{{#if (eq ../layout "tabbed")}}<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" > <i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>{{/if}}
				<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}
	{{#if actor.equipamentos}}
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-image"></div>
			<div class="item-name">Equipamentos</div>
			{{#if (eq layout "tabbed")}}
			<div class="item-def">Defesa</div>
			<div class="item-pen">Penalidade</div>
			{{/if}}
			<div class="item-qtd">Qtd</div>
			<div class="item-peso">Peso</div>
			<div class="item-toggles">
			</div>
			<div class="item-controls"></div>
		</li>
		{{#each actor.equipamentos as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<h4 class="item-name">{{item.name}}</h4>
			{{#if (eq ../layout "tabbed")}}
			<div class="item-def">{{numberFormat item.data.armadura.value sign=true}}</div>
			<div class="item-pen">{{item.data.armadura.penalidade}}</div>
			{{/if}}
			<div class="item-qtd">{{item.data.qtd}}</div>
			<div class="item-peso">{{item.peso}}</div>
			<div class="item-toggles">
				<a class="item-control item-toggle toggle-armor{{#if item.data.equipado}} active{{/if}}" title="{{#if item.data.equipado}}Desequipar{{else}}Equipar{{/if}}">
					<i class="fas fa-shield-alt"></i>
				</a>
			</div>
			<div class="item-controls">
				{{#if (eq ../layout "tabbed")}}<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" > <i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>{{/if}}
				<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-image"></div>
			<div class="item-name" style="flex: 5;">Itens</div>
			<div class="item-qtd">Qtd</div>
			<div class="item-peso">Peso</div>
			<div class="item-controls">

			</div>
		</li>
		{{#each actor.inventario as |item id|}}
		{{#unless (eq item.type "equip")}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			{{#if (eq item.type "consumivel")}}
			<span class="item-name rollable consumivel-rollable" style="flex: 5;"><h4>{{item.name}}</h4></span>
			{{else}}
			<h4 class="item-name" style="flex: 5;">
				{{item.name}}
			</h4>
			{{/if}}
			<div class="item-qtd">{{item.data.qtd}}</div>
			<div class="item-peso">{{item.peso}}</div>
			<div class="item-controls">
				{{#if (eq ../layout "tabbed")}}<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" > <i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>{{/if}}
				<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/unless}}
		{{/each}}
		<li class="item flexrow item-header">
			<div class="item-name text-right">
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar arma" data-type="arma"><i class="fas fa-plus"></i> Arma</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar armadura" data-type="equip"><i class="fas fa-plus"></i> Equipamento</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar consumivel" data-type="consumivel"><i class="fas fa-plus"></i> Consumível</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar tesouro" data-type="tesouro"><i class="fas fa-plus"></i> Item</a>
			</div>
		</li>
	</ol>
</div>

<div class="inventory-currency">  
  <ul class="currency">
	<li class="currency-item" title="Platina">
	  <input type="number" name="data.detalhes.dinheiro.tl" value="{{data.detalhes.dinheiro.tl}}" data-dtype="Number" placeholder="0">
	  <i class="fas fa-coins" style="color: #e5e4e2; line-height: 30px;"></i>
	</li>
	<li class="currency-item" title="Ouro">
	  <input type="number" name="data.detalhes.dinheiro.to" value="{{data.detalhes.dinheiro.to}}" data-dtype="Number" placeholder="0">
	  <i class="fas fa-coins" style="color: #c7ab10; line-height: 30px;"></i>
	</li>
	<li class="currency-item" title="Prata">
	  <input type="number" name="data.detalhes.dinheiro.tp" value="{{data.detalhes.dinheiro.tp}}" data-dtype="Number" placeholder="0">
	  <i class="fas fa-coins" style="color: #828282; line-height: 30px;"></i>
	</li>
	<li class="currency-item" title="Cobre">
	  <input type="number" name="data.detalhes.dinheiro.tc" value="{{data.detalhes.dinheiro.tc}}" data-dtype="Number" placeholder="0">
	  <i class="fas fa-coins" style="color: #cd7f32; line-height: 30px;"></i>
	</li>
  </ul>
</div>
<div class="encumbrance" title="Carga">
	<span class="encumbrance-bar" style="width:{{data.detalhes.carga.pct}}%"></span>
	<span class="encumbrance-label">{{data.detalhes.carga.value}} / {{multiply data.atributos.for.value 10}}</span>
	<i class="encumbrance-breakpoint encumbrance-30 arrow-up"></i>
	<i class="encumbrance-breakpoint encumbrance-30 arrow-down"></i>
</div>