<form class="tormenta20" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <label><i class="fas fa-address-card"></i> <a class="item" data-tab="description" title="Biografia">Biografia</a></label>
  </nav>


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div class="flexrow flex-between">
        <div style="max-width: 220px;">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"
            width="200" />
        </div>

        {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>