<div class="tab item-description flexrow active" data-group="primary" data-tab="description">
	
    <div class="item-properties">
		{{#if itemFisico}}
        <div class="form-group">
            <label>Quantidade</label>
            <input type="text" name="data.qtd" value="{{data.qtd}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>Peso</label>
            <input type="text" name="data.peso" value="{{data.peso}}" data-dtype="Number"/>
        </div>
		<div class="form-group">
            <label>Preço</label>
            <input type="text" name="data.preco" value="{{data.preco}}" data-dtype="Number" placeholder="0" data-dtype="Number"/>
        </div>
		{{/if}}
		<ul class="properties-list">
		{{#if (eq item.type "arma")}}
		{{#each config.weaponProperties as |name prop|}}
			{{#if (lookup ../data.propriedades prop)}}<li>{{name}}{{#if (eq prop "arremesso")}} ({{../data.alcance}}){{/if}}</li>{{/if}}
			<!-- <input type="checkbox" name="data.propriedades.{{prop}}" {{checked (lookup ../data.propriedades prop)}}/> {{ name }} -->
		{{/each}}
		{{/if}}
		{{#if (eq item.type "equip")}}
			{{#if item.data.armadura.value}}<li>Defesa: {{item.data.armadura.value}}</li>{{/if}}
			{{#if item.data.armadura.penalidade}}<li>Penalidade: {{item.data.armadura.penalidade}}</li>{{/if}}
		{{/if}}
		{{#if (eq item.type "poder")}}
			<li style="text-transform: capitalize;"><strong>{{item.data.tipo}}</strong>{{#if item.data.subtipo}}: {{item.data.subtipo}}{{/if}}</li>
		{{/if}}
		{{#if (or (eq item.type "poder") (eq item.type "magia"))}}
			{{#if item.data.ativacao.execucao}}<li><strong>Execução:</strong> {{#each config.listaAtivacao as |name prop|}}{{#if (eq ../data.ativacao.execucao prop)}}{{name}}{{/if}}{{/each}}</li>{{/if}}
			{{#if item.data.alcance}}<li><strong>Alcance:</strong> {{item.data.alcance}}</li>{{/if}}
			{{#if item.data.alvo}}<li><strong>Alvo:</strong> {{item.data.alvo}}</li>{{/if}}
			{{#if item.data.area}}<li><strong>Área:</strong> {{item.data.area}}</li>{{/if}}
			{{#if data.duracao.unidade}}<li><strong>Duração:</strong> {{#if mostrarValorDuracao}}{{item.data.duracao.valor}} {{/if}}{{#each config.listaDuracoes as |name prop|}}{{#if (eq prop "outra")}}{{else if (eq ../data.duracao.unidade prop)}}{{name}}{{/if}}{{/each}}{{#if mostrarPluralDuracao}}s{{/if}}</li>{{/if}}
			{{#if item.data.resistencia}}<li><strong>Resistência:</strong> {{item.data.resistencia}}{{#if item.data.totalCD}} (CD {{item.data.totalCD}}){{/if}}</li>{{/if}}
		{{/if}}
		</ul>
    </div>

	<div class="item-description">
    	{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
	</div>
</div>
